---
title: 'About|Waffle House Sherwood'
description: 'The Best Waffle and Steak Combo in Town'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEEN4SD66T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEEN4SD66T');
</script>

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="../assets/images/dining-optimized-sm.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/dining-optimized.webp">
                <img decoding="async" src="../assets/images/dining-optimized.webp" alt="dining" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/menu1-optimized-sm.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/menu1-optimized.webp">
                <img decoding="async" src="/assets/images/menu1-optimized.webp" alt="waffle" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            
            <img height="16" alt="squiggle"
            decoding="async" src="/assets/svgs/squiggle.svg" width="144" class="cs-squiggle"
            aria-hidden="true">
            <h2 class="cs-title">Waffle House Bar & Grill</h2>
            <p class="cs-text">
                Welcome to Waffle House Bar & Grill, located inside Super 8 by Wyndham Sherwood Park. Since opening in November 2023, we have been dedicated to providing a dining experience that combines unique flavors with a welcoming atmosphere. Our menu features a delightful fusion of Western and Asian cuisine, going beyond just waffles and desserts. We serve breakfast, lunch, and dinner until 2 AM, ensuring you can enjoy our mouthwatering dishes at any time of day.
                <p class="cs-text">
                    Our space includes a pool table, a lively bar, and VLT machines for your entertainment. 
                    <div class="cs-quote">
                <span class="cs-quote-text">
                    At Waffle House Bar & Grill in Sherwood Park, we believe a great day starts with delicious food. Since 2023, we've been serving up memorable meals and bringing people together.                </span>
                <span class="cs-name">2023</span>
                <span class="cs-job">Date Established</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src='/assets/images/Wafflehouse-optimized.webp' alt="wafflehouse logo" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-402" class="cs-page-break">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
        </div>
        <div class="cs-gallery">
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/1-AboutUs-WaffleHouseSherwood-optimized.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/1-AboutUs-WaffleHouseSherwood-optimized.webp">
                <img loading="lazy" decoding="async" src="../assets/images/1-AboutUs-WaffleHouseSherwood-optimized.webp" alt="waffle gallery" width="630" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/2-AboutUs-WaffleHouseSherwood-optimized.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/2-AboutUs-WaffleHouseSherwood-optimized.webp">
                <img loading="lazy" decoding="async" src="../assets/images/2-AboutUs-WaffleHouseSherwood-optimized.webp" alt="gallery" width="630" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/4-AboutUS-WaffleHouseSherwood-optimized.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/4-AboutUS-WaffleHouseSherwood-optimized.webp">
                <img loading="lazy" decoding="async" src="../assets/images/4-AboutUS-WaffleHouseSherwood-optimized.webp" alt="gallery" width="630" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/5-AboutUs-WaffleHouseSherwood-optimized.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/5-AboutUs-WaffleHouseSherwood-optimized.webp">
                <img loading="lazy" decoding="async" src="../assets/images/5-AboutUs-WaffleHouseSherwood-optimized.webp" alt="gallery" width="630" height="400">
            </picture>
        </div>
        <a class="cs-button-solid" href="/gallery/">View All Gallery</a>
    </div>
</section>
                                
   

{% endblock %}