---
title: 'About|Waffle House Sherwood'
description: 'The Best Waffle and Steak Combo in Town'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEEN4SD66T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEEN4SD66T');
</script>

{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
    <!-- ============================================ -->
<!--                   About Us                   -->
<!-- ============================================ -->





<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/dining.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/dining.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/dining.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/menu1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/menu1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/menu1.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            
            <img height="16" alt="squiggle"
            decoding="async" src="/assets/svgs/squiggle.svg" width="144" class="cs-squiggle"
            aria-hidden="true">
            <h2 class="cs-title">Waffle House Bar & Grill</h2>
            <p class="cs-text">
                Welcome to Waffle House Bar & Grill, located inside Super 8 by Wyndham Sherwood Park. Since opening in November 2023, we have been dedicated to providing a dining experience that combines unique flavors with a welcoming atmosphere. Our menu features a delightful fusion of Western and Asian cuisine, going beyond just waffles and desserts. We serve breakfast, lunch, and dinner until 2 AM, ensuring you can enjoy our mouthwatering dishes at any time of day.
                <p class="cs-text">
                    Our space includes a pool table, a lively bar, and VLT machines for your entertainment. 
                    <div class="cs-quote">
                <span class="cs-quote-text">
                    At Waffle House Bar & Grill in Sherwood Park, we believe a great day starts with delicious food. Since 2023, we've been serving up memorable meals and bringing people together.                </span>
                <span class="cs-name">2023</span>
                <span class="cs-job">Date Established</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src='/assets/images/Wafflehouse.png' alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-402">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Explore Our Gallery</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <div class="cs-gallery">
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/1-AboutUs-WaffleHouseSherwood.jpg">
                <source media="(min-width: 601px)" srcset="../assets/images/1-AboutUs-WaffleHouseSherwood.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/1-AboutUs-WaffleHouseSherwood.jpg" alt="waffle gallery" width="630" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/2-AboutUs-WaffleHouseSherwood.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/2-AboutUs-WaffleHouseSherwood.webp">
                <img loading="lazy" decoding="async" src="../assets/images/2-AboutUs-WaffleHouseSherwood.webp" alt="gallery" width="630" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/4-AboutUS-WaffleHouseSherwood.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/4-AboutUS-WaffleHouseSherwood.webp">
                <img loading="lazy" decoding="async" src="../assets/images/4-AboutUS-WaffleHouseSherwood.webp" alt="gallery" width="630" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/5-AboutUs-WaffleHouseSherwood.jpg">
                <source media="(min-width: 601px)" srcset="../assets/images/5-AboutUs-WaffleHouseSherwood.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/5-AboutUs-WaffleHouseSherwood.jpg" alt="gallery" width="630" height="400">
            </picture>
        </div>
        <a class="cs-button-solid" href="/gallery/">View All Gallery</a>
    </div>
</section>
                                

                                
<!-- ============================================ -->
<!--              Social Gallery                  -->
<!-- ============================================ -->

<section id="gallery-1648">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Social</span>
                <img height="16" alt="squiggle"
                        decoding="async" src="/assets/svgs/squiggle.svg" width="144" class="cs-squiggle"
                        aria-hidden="true">
                <h2 class="cs-title">Waffle House</h2>
            </div>
            <a href="https://www.facebook.com/profile.php?id=61553190053636" class="cs-button-solid">
                <img class="cs-button-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="fb" width="20" height="20">
                @Waffle House Bar & Grill 
            </a>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <a href="https://www.facebook.com/p/Waffle-House-Bar-Grill-61553190053636/" class="cs-link" target="_blank">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/dining3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/dining3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/dining3.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
            <!--Picture 2-->
            <a href="https://www.facebook.com/p/Waffle-House-Bar-Grill-61553190053636/" class="cs-link" target="_blank">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/billiard.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/billiard.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/billiard.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
            <!--Picture 3-->
            <a href="https://www.facebook.com/p/Waffle-House-Bar-Grill-61553190053636/" class="cs-link" target="_blank">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/ktv.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/ktv.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/ktv.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
            <!--Picture 4-->
            <a href="https://www.facebook.com/p/Waffle-House-Bar-Grill-61553190053636/" class="cs-link" target="_blank">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/bar1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/bar1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/bar1.jpg" alt="gallery" width="305" height="400">
                </picture>
                <img class="cs-link-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=118468&format=png&color=FFFFFF" alt="instagram" width="48" height="48">
            </a>
        </div>
    </div>
</section>
                                                               
                                

   

{% endblock %}