---
title: 'Gallery|Waffle House Sherwood'
description: 'The Best Waffle and Steak Combo in Town'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'gallery/'
eleventyNavigation:
    key: Gallery
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XEEN4SD66T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEEN4SD66T');
</script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

<section id="gallery-973">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Explore Our Amazing Gallery</h2>
            <p class="cs-text">
                Explore our gallery to get a glimpse of the vibrant atmosphere and delectable dishes that make Waffle House Bar & Grill a beloved spot. From our famous waffles to sizzling grill favorites, every photo captures the essence of our warm and welcoming dining experience.</p>
        </div>
        <div class="cs-gallery">
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-1.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-1.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-1.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-2.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-2.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-2.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-3.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-3.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-3.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-4.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-4.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-4.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-5.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-5.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-5.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-6.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-6.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-6.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-7.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-7.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-7.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-8.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-8.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-8.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-9.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-9.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-9.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-10.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-10.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-10.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-11.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-11.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-11.webp" alt="gallery" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-12.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/WaffleHouseSherwood_Gallery-12.webp">
                <img loading="lazy" decoding="async" src="../assets/images/WaffleHouseSherwood_Gallery-12.webp" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>
                                    
                        

   

{% endblock %}